<!DOCTYPE html>
<head>
    <meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
<link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap.css') }}">
<script src="{{ url_for('static', filename='js/jquery.js') }}"></script>
<script src="{{ url_for('static', filename='js/bootstrap.js') }}"></script>
<style>
  hr.style2 {
	border-top: 2px solid #8c8b8b;
}

</style>
</head>
<body>
<div class="container">
<h1 style="display: inline;margin-bottom: 1000px;">Diary</h1>
<a href="/posts/new" class="btn btn-info float-right" >+ New Post</a>
<hr>
{% for post in posts %}
<h2><b>{{post.title}}</b></h2>
{% if post.author %}
<small>By: {{post.author}} </small>
{% else %}
<small>By:Unknown</small>
{% endif %}
<small>Date: {{post.date}}</small><br><br>
<p><b>{{post.content}}</b></p>

<hr class="style2">
<br>
{% endfor %}
 </div>
</div>
</body>
</html>

<!--
    function passCheck(){
        
      if(prompt("Please enter your password","") == "batli"){
        document.getElementById('target').style.display = 'inline';
      }else{
          alert("Oops Wrong Password Entry Blocked!!!")
        document.getElementById('target').style.display = 'none';
      }
    }
  //-->